spring:
  servlet:
    multipart:
      max-file-size: 20MB
      max-request-size: 20MB
  config:
    import: "vault://"
    name: final_projeckt
  datasource:
    url: jdbc:postgresql://localhost:5432/final_projeckt
    username: ${POSTGRES_USERNAME}
    password: ${POSTGRES_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${GMAIL}
    password: ${GMAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true

#springdoc:
#  api-docs:
#    path: /api/v1/documents